body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textfields {
  display: flex;
  justify-content: center;
}

.selectlanguage {
  display: flex;
  padding: 5%;
  justify-content: space-evenly;
}

.gsc-input, .gsc-search-button, .gsc-clear-button {
  display: none;
}